body {
	background-color: #dcf6ff;
}
h1 {
	content: url("../img/logo.png");
	margin-top: 0;
}
.container {
	padding: 10px;
	width: 95%;
	margin-bottom: 40px;
}
.form-control {
	margin-left: 50%;
}
#bonvoyage {
	margin-left: 50%;
}
.checkbox {
	display: none;
}
.btn-primary {
	margin-top: 10px;
}