<div class="container">

    <div class="row">
        <div class="col-xs-6" id="formulaire" style="display:none;">
            <div class="col-xs-4">
                <form role="form">
                    <div class="form-group">
                        <label for="season">Saison</label>
                        <select class="form-control" id="season">
                            <option value="spring">Printemps</option>
                            <option value="summer">Eté</option>
                            <option value="autumn">Automne</option>
                            <option value="winter">Hiver</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="time">Durée</label>
                        <select class="form-control" id="time">
                            <option value="2d">2 jours</option>
                            <option value="3d">3 jours</option>
                            <option value="4d">4 jours</option>
                            <option value="5d">5 jours</option>
                            <option value="6d">6 jours</option>
                            <option value="1w">1 semaine</option>
                            <option value="2w">2 semaines</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="accommodationType">Type d'hébergement</label>
                        <select class="form-control" id="accommodationType">
                            <option value="tent">Tente</option>
                            <option value="campingCar">Camping-car</option>
                            <option value="mobilHome">Mobil-Home</option>
                            <option value="flat">Appartement</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info" id="bonvoyage">Bon Voyage!</button>
                </form>
            </div>
        </div>
        <div class="col-xs-6" id="buttonlist" style="display:none;">
            <div class="col-xs-4">
                <button type="button" class="btn btn-info">Télécharger</button>
                <button type="button" class="btn btn-primary">Ouvrir dans le navigateur</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-info">Télécharger</button>
                <button type="button" class="btn btn-primary">Ouvrir dans le navigateur</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-info">Télécharger</button>
                <button type="button" class="btn btn-primary">Ouvrir dans le navigateur</button>
            </div>
        </div>
    </div>
</div>