<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>Dans ta valise</h2>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
        </div>
        <div class="col-xs-4">
            <h2>Matériel</h2>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
        </div>
        <div class="col-xs-4">
            <h2>Activités</h2>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
                <label>
                    <input type="checkbox" value="">
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
        </div>
    </div>
</div>
