<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
		<h1>{{ nameRegion }}</h1>
            <div class="form-group">
                <label>Saison</label>
                <!--
                    ng-model : Définit la valeur par défaut
                    ng-options : Définit le système d'affichage
                        On affiche saison.name qui ce trouve dans saisons et on assigne les valeurs en fonction de saison.value
                -->
                <select ng-model="mySaison" ng-options="saison.name for saison in saisons track by saison.value"></select>
		        <button type="button" name="ok" id="ok"class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span></button>

            </div>
        </div>
    </div>
    <div class="row" style="display: none;" id="listes">
        <div class="col-md-6">
            <h2>Trousse de toilette</h2>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputPassword" class="col-sm-1 control-label"><span class="glyphicon glyphicon-search"></span></label>
					<div class="col-sm-3">
						<input class="form-control" ng-model="trousse">
					</div>
				</div>
			</form>
            <ul>
                <li ng-repeat="element in elements  | filter:trousse track by $index | orderBy:orderProp">
                    <button class="btn btn-danger" ng-click="supr(elements, $index)"><span class="glyphicon glyphicon-trash"></span></button> {{element.name}} 
                </li>
            </ul>
			
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-3">
						<input type="text" id="add"  class="form-control"  ng-model="itemName"></input>
					</div>
					<button ng-click="addItem(elements)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</form>
        </div>
		
		
        <div class="col-md-6">
            <h2>Vêtements</h2>
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputPassword" class="col-sm-1 control-label"><span class="glyphicon glyphicon-search"></span></label>
					<div class="col-sm-3">
						<input class="form-control" ng-model="vetements">
					</div>
				</div>
			</form>
        </div>
    </div>
</div>