/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
	background-color: #dcf6ff;
}
#logo {
	background-image: url("img/logo.png");
	width: 490px;
	height: 75px;
	margin-top: 0;
	margin-bottom: 20px;
}
ul li {
	list-style-type:none;
}
table {
	width: 100%;
}
table td {
	width: 50%;
}
#listes {
	width: 90%;
	margin: auto;
}
h2 {
	color: #1369f8;
	font-family: 'Gabriela', serif;
	letter-spacing: .10em;
	text-shadow:
		1px -1px 0 #1369f8,
		-5px 10px 1px #bfd6fd,
		-6px 12px 1px #dce9fe;
}
.btn-danger {
	margin-top: 2px;
}
h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
#textPresentation {
	color: grey;
	text-align: left;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
}